---
/**
 * PC 右カラム。Campaign ナビ + 公式 LINE バナー。
 */
import CampaignNavLink from './CampaignNavLink.astro';
import { CAMPAIGN_NAV_ITEMS } from '../data/campaign-nav';
import { LINE_URL } from '../data/links';
---

<div class='p-chrome-right'>
  <nav class='c-nav-campaign' aria-label='キャンペーンナビゲーション'>
    <p class='c-nav-campaign__title'>Campaign</p>
    <ul class='c-nav-campaign__list'>
      {
        CAMPAIGN_NAV_ITEMS.map((item) => (
          <li class='c-nav-campaign__item'>
            <CampaignNavLink href={item.href} label={item.label} />
          </li>
        ))
      }
    </ul>
  </nav>

  <a
    href={LINE_URL}
    class='p-chrome-right__line'
    target='_blank'
    rel='noopener noreferrer'
    aria-label='森半 tea&coffee 公式 LINE を友だち追加する'
  >
    <span class='c-placeholder c-placeholder--line' style='--ratio: 240 / 108'>
      <span class='c-placeholder__label'>公式LINEバナー</span>
    </span>
  </a>
</div>
