---
import { Image } from 'astro:assets';
import BrandLogo from '../components/BrandLogo.astro';
import aboutBg from '../assets/images/about_bg.png';
---

<section id='about' class='l-section p-about' aria-labelledby='about-heading'>
  <Image class='p-about__bg' src={aboutBg} alt='' format='webp' />

  <div class='l-inner p-about__inner'>
    <p class='p-about__mark' aria-hidden='true'>
      <BrandLogo markOnly />
    </p>

    <h2 id='about-heading' class='visually-hidden'>森半 Tea&amp;Coffee 5周年のごあいさつ</h2>

    <p class='p-about__lead'>
      日頃よりご愛顧いただいている<br />
      皆様のおかげで、<br />
      森半 Tea&amp;Coffeeは5周年、<br />
      また森半は創業190周年を迎えることが<br />
      できました。
    </p>

    <p class='p-about__lead'>
      感謝の気持ちを込めて、<br />
      森半 Tea&amp;Coffeeの5周年を記念した<br />
      特別企画をご用意いたしました。
    </p>

    <p class='p-about__lead'>
      これからも受け継がれてきた<br />
      茶づくりの伝統を大切にしながら、<br />
      皆様の暮らしに寄り添う商品を<br />
      お届けしてまいります。
    </p>
  </div>
</section>
