---
import { Image } from 'astro:assets';
import { CAMPAIGN_BANNERS } from '../data/campaign-banners';
import navBg from '../assets/images/nav-bg.jpg';
import uchiwa from '../assets/images/nav-image--uchiwa.jpg';
import campaign01 from '../assets/images/nav-image--campaign01.jpg';
import campaign02 from '../assets/images/nav-image--campaign02.jpg';
import campaign03 from '../assets/images/nav-image--campaign03.jpg';
import campaign04 from '../assets/images/nav-image--campaign04.jpg';

// バナー画像は見出し・ピル・シェブロンまで焼き込まれた完成版。文言は alt で読み上げる。
const BANNER_IMAGES: Record<string, ImageMetadata> = {
  uchiwa,
  campaign01,
  campaign02,
  campaign03,
  campaign04,
};
---

<section id='campaign-nav' class='l-section p-campaign-nav' aria-labelledby='campaign-nav-heading'>
  <Image class='p-campaign-nav__bg' src={navBg} alt='' format='webp' />

  <h2 id='campaign-nav-heading' class='visually-hidden'>キャンペーン一覧</h2>

  <div class='l-inner p-campaign-nav__inner'>
    <ul class='p-campaign-nav__list'>
      {
        CAMPAIGN_BANNERS.map((banner) => (
          <li class='p-campaign-nav__item'>
            <a href={banner.href} class='p-campaign-nav__banner'>
              <Image
                class='p-campaign-nav__image'
                src={BANNER_IMAGES[banner.id]}
                alt={banner.alt}
                format='webp'
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
